<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report Lost Item</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="card-container">
    <div class="card">
        <h2>📌 Report Found Item</h2>

        <form method="POST" action="{{ url_for('report_found') }}" class="lost-form">
            <input type="text" name="item_name" placeholder="Item Name" required>

            <textarea name="description" placeholder="Description" required></textarea>

            <input type="text" name="found_location" placeholder="Found Location" required>

            <input type="date" name="date_found" required>

            <input type="text" name="contact" placeholder="Contact Number" required>

            <button type="submit">Submit</button>
        </form>
    </div>
</div>

</body>
</html>
