<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Lost Items</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <body class="found-page">

    <div class="navv">
    <a href="/dashboard" class="back-btn">← Go Back to Dashboard</a>
    <h2 class="page-title"> Found Items</h2>
    </div>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Item Name</th>
                    <th>Description</th>
                    <th>Found Location</th>
                    <th>Date Lost</th>
                    <th>Contact</th>
                </tr>
            </thead>

            <tbody>
                {% for item in items %}
                <tr>
                    
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td>{{item[4]}}</td>
                    <td>{{item[5]}}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
