/* This is a login page css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    background: linear-gradient(135deg, #2563eb, #1e40af);
}

.main{
    width: 40%;
    height: 700px;
    margin: 100px 400px;
    
    
    
}
.heading{
    width: 100%;
    height: 140px;
    background-color:#f9fafb;
    font-size: 60px;
    text-align: center;
    color:#0f172a;
    padding: 40px;
    font-weight: bold;
    text-shadow: aliceblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.name{
    width: 100%;
    height: 140px;
    background-color:#f9fafb;

}
.n1{
    padding: 20px;
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin: 30px 50px;
    background-color:white;
}
.email{
    width: 100%;
    height: 140px;
    background-color:#f9fafb;
}
.pass{
    width: 100%;
    height: 140px;
    background-color:#f9fafb;
}
.logorsign{
    width: 100%;
    height: 140px;
    
    display: flex;
}
.log{
    width: 50%;
    height: 140px;
    background-color: #f9fafb;
    border-bottom-left-radius: 20px;
    
}
.sign{
    width: 50%;
    height: 140px;
    background-color:#2563eb;
}
.b1{
    padding:10px;
    width: 50%;
    margin: 40px 70px;
    font-size: 20px;
    background-color:#1d4ed8;
    color: #f1f5f9;
    
}
.sign{
    font-size: 30px;
    padding: 30px 50px;
    background-color: #f9fafb;
    border-bottom-right-radius: 20px;
    
}
.link{
    font-size: 20px;
    background-color: #ffffff;
}

/* SIGN UP PAGE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: linear-gradient(135deg, #2563eb, #1e40af);
}

.main1{
    width: 40%;
    height: 700px;
    background-color:#f4f6f8;
    margin: 100px 400px;
    border-radius: 50px;
    
}
.heading2{
    width: 100%;
    height: 140px;
    background-color:#f9fafb;
    font-size: 60px;
    text-align: center;
    color:#0f172a;
    padding: 40px;
    font-weight: bold;
    text-shadow: aliceblue;
    border-radius: 10px;
    
    
}
.name1{
    width: 100%;
    height: 140px;
    background-color:#f9fafb;

}
.n01{
    padding: 20px;
    width: 80%;
    font-size: 20px;
    text-align: center;
    margin: 30px 50px;
    background-color:white;
}
.email1{
    width: 100%;
    height: 140px;
    background-color:#f9fafb;
}
.pass1{
    width: 100%;
    height: 140px;
    background-color:#f9fafb;
}
.logorsign1{
    width: 100%;
    height: 140px;
    background-color:#f9fafb;
    display: flex;
    border-radius: 10px;
    
}
.log1{
    width: 100%;
    height: 140px;
    
    
}

.b2{
    padding:20px;
    width: 50%;
    margin: 40px 130px;
    font-size: 20px;
    background-color:darkolivegreen;
    color: #ffffff;
    
}
.b2:hover{
    background-color:darkkhaki;
}

/* STUDENT DASHBOARD */

studash-page{
    min-height: 100vh;
    background: #f5f7fb;
}

.main3{
    width: 100%;
    min-height: 900px;
    background-color:#f5f7fb;
}
.h1{
    width: 100%;
    height: 90px;
    background-color: #2563eb;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.welcome{
    width: 70%;
    font-size: 40px;
    color: white;
    font-weight: 600;
}

.logoutt{
    width: 30%;
    text-align: right;
}

.b4{
    padding: 10px 18px;
    background-color: #ef4444;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.b4:hover{
    background-color: #dc2626;
}

.r002{
    width: 100%;
    min-height: 600px;
    background-color: #f1f5f9;
    padding-top: 40px;
     margin-top: 60px;
}

.cards-container1{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 70px;
    max-width: 1200px;
    margin: auto;
    justify-items: center;
}

.card1{
    background: white;
    width: 280px;
    padding: 30px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: all 0.3s ease;
}
.card2{
    background: white;
    width: 280px;
    padding: 30px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: all 0.3s ease;
}
.card2:hover{
    
    box-shadow: 0 18px 35px rgba(0,0,0,0.15);
}

.card-btn2:hover{
    background-color: #1d4ed8;
    transform: scale(1.05);
}


.card2 h3{
    margin-bottom: 12px;
    color: #1e3a8a;
    font-size: 25px;
}

.card2 p{
    font-size: 20px;
    color: #475569;
    margin-bottom: 22px;
}
.card-btn2{
    padding: 12px 22px;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.2s;
}
.card1:hover{
    
    box-shadow: 0 18px 35px rgba(0,0,0,0.15);
}

.card-btn1:hover{
    background-color: #1d4ed8;
    transform: scale(1.05);
}


.icon1{
    font-size: 55px;
    margin-bottom: 20px;
}

.card1 h3{
    margin-bottom: 12px;
    color: #1e3a8a;
    font-size: 25px;
}

.card1 p{
    font-size: 20px;
    color: #475569;
    margin-bottom: 22px;
}
.card-btn1{
    padding: 12px 22px;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.2s;
}


/* View lost items */

/* Page heading */
.page-title{
    text-align: center;
    
    color:#0f172a;
    font-size: 50px;
    text-decoration:dotted;
}

/* Table container */
.container{
    background-color: white;
    width: 95%;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Table */
table{
    width: 100%;
    border-collapse: collapse;
}

/* Table header */
th{
    background-color: #2563eb;
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 20px;
}

/* Table data */
td{
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
}

/* Hover effect */
tr:hover{
    background-color: #5c96d0;
}
.back-btn {
    display: inline-block;
    margin: 20px;
    padding: 10px 16px;
    background-color: #ffffff;
    color: #2c5cff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
    border: 2px solid #2c5cff;
    transition: 0.3s;
}

.back-btn:hover {
    background-color: #2c5cff;
    color: white;
}



/*.  login again */

.h01{
    width: 50%;
    height: 500px;
    background-color: #2563eb;
    
    margin: 200px 350px;
}
.expired{
    width: 100%;
    height: 200px;
    background-color: antiquewhite;
    font-size: 70px;
    text-align: center;
    padding: 40px;
}
.btnnn{
    font-size: 40px;
    text-align: center;
    padding: 60px;
    background-color: antiquewhite;
}
.btnn{
    padding: 20px;
    margin: 80px;
    font-size: 20px;
    background-color: #2563eb;
    color: #ffffff;
}

/* report lost*/
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4f6fb;
}

.card {
    background: white;
    padding: 20px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    height: 600px;
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 40px;
}

/* Form inputs */
.lost-form input,
.lost-form textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.lost-form textarea {
    resize: none;
    height: 100px;
}

/* Button same as dashboard */
.lost-form button {
    width: 100%;
    padding: 10px;
    background: #6c63ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.lost-form button:hover {
    background: #574fd6;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f5f9;
}

/* view found items Page heading */
/* VIEW FOUND PAGE BACKGROUND */
.found-page{
    background:#f1f5f9;
    min-height: 100vh;
}

.page-title{
    text-align: center;
    
    color:#0f172a;
    font-size: 50px;
    text-decoration:dotted;
}

/* Table container */
.container{
    background-color: white;
    width: 95%;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Table */
table{
    width: 100%;
    border-collapse: collapse;
}

/* Table header */
th{
    background-color: #2563eb;
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 20px;
}

/* Table data */
td{
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
}

/* Hover effect */
tr:hover{
    background-color: #5c96d0;
}
.back-btn {
    display: inline-block;
    margin: 20px;
    padding: 10px 16px;
    background-color: #ffffff;
    color: #2c5cff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 6px;
    border: 2px solid #2c5cff;
    transition: 0.3s;
}

.back-btn:hover {
    background-color: #2c5cff;
    color: white;
}
/* report found*/
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4f6fb;
}

.card {
    background: white;
    padding: 20px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    height: 600px;
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 40px;
}

/* Form inputs */
.lost-form input,
.lost-form textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.lost-form textarea {
    resize: none;
    height: 100px;
}

/* Button same as dashboard */
.lost-form button {
    width: 100%;
    padding: 10px;
    background: #6c63ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.lost-form button:hover {
    background: #574fd6;
}

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f5f9;
}